<!-- New Users Section -->
<div class="new-users">
    <h2>New Users</h2>
    <div class="user-list">
        <div class="user">
            <img src="{{ url_for('.static', filename='images/profile-2.png') }}" alt="Profile Picture">
            <h2>Jack</h2>
            <p>54 Min Ago</p>
        </div>
        <div class="user">
            <img src="{{ url_for('.static', filename='images/profile-3.png') }}" alt="Profile Picture">
            <h2>Amir</h2>
            <p>3 Hours Ago</p>
        </div>
        <div class="user">
            <img src="{{ url_for('.static', filename='images/profile-4.png') }}" alt="Profile Picture">
            <h2>Ember</h2>
            <p>6 Hours Ago</p>
        </div>
        <div class="user">
            <img src="images/plus.png" alt="Plus">
            <h2>More</h2>
            <p>New User</p>
        </div>
    </div>
</div>
<!-- End of New Users Section -->


<div class="reminders">
    <div class="header">
        <h2>Reminders</h2>
        <span class="material-icons-sharp">
                        notifications_none
        </span>
    </div>

    <div class="notification">
        <div class="icon">
            <span class="material-icons-sharp">
                volume_up
            </span>
        </div>
        <div class="content">
            <div class="info">
                <h3>Workshop</h3>
                <small class="text_muted">
                    08:00 AM - 12:00 PM
                </small>
            </div>
            <span class="material-icons-sharp">
                            more_vert
            </span>
        </div>
    </div>

    <div class="notification deactive">
        <div class="icon">
            <span class="material-icons-sharp">
                edit
            </span>
        </div>
        <div class="content">
            <div class="info">
                <h3>Workshop</h3>
                <small class="text_muted">
                    08:00 AM - 12:00 PM
                </small>
            </div>
            <span class="material-icons-sharp">
                            more_vert
            </span>
        </div>
    </div>

    <div class="notification add-reminder">
        <div>
            <span class="material-icons-sharp">
                add
            </span>
            <h3>Add Reminder</h3>
        </div>
    </div>
</div>